:root {
    --growoffset: 0px;
    --grow: calc(40px + var(--growoffset));
    --colora: hsl(0, 0%, 95%);
    --colorb: hsl(0, 0%, 5%);
    --colorc: hsl(340, 100%, 50%);
    --xoffset: 0px;
    --yoffset: 0px;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

@font-face {
    font-family: "Boon";
    src: url("../assets/boon-v1-1/Boon-400.otf");
    line-gap-override: 50%;
    ascent-override: 50%;
}

#uwu {
    font-weight: 700;
    font-family: "Boon";
    width: 100%;
    height: var(--grow);
    font-size: var(--grow);
    text-align: center;
    color: var(--colorb);
    
    position: absolute;
    top: calc(50% + var(--yoffset));
    left: calc(50% + var(--xoffset));
    transform: translateX(-50%) translateY(-50%);
    will-change: top, left, height, font-size;
    
    cursor: pointer;
    user-select: none;
}

#uwu.owo {
    cursor: default;
    color: var(--colora);
}

body.goingowo, #uwu.goingowo {
    cursor: none;
}

body {
    background-color: var(--colora);
}

body.owo {
    cursor: default;
    background-color: var(--colorb);
}
